<ion-view title="Add Medicine Details" id="page2">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <label class="item item-select" name="MedicineName">
                <span class="input-label">Select Medicine</span>
                <select></select>
            </label>
            <label class="item item-input" name="BatchNo">
                <span class="input-label">Batch No.</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" name="PurchaseDate">
                <span class="input-label">Purchase Date</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input" name="Quantity">
                <span class="input-label">Quantity</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input" name="ExpDate">
                <span class="input-label">Exp Date</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input" name="NetifyMeBefore">
                <span class="input-label">Notify Me Before</span>
                <input type="number" placeholder="">
            </label>
        </ion-list>
        <button id="addMedicineDetails-button4" style="text-align:justify;" class="button button-positive  icon-left ion-android-add-circle">Save</button>
    </ion-content>
</ion-view>