<ion-view title="Medicine Master" id="page4">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search by Medicine Name">
            </label>
            <label class="item item-input" name="MedicineName">
                <span class="input-label">Medicine Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" name="GenericName">
                <span class="input-label">Generic Name</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="medicineMaster-button6" style="text-align:justify;" class="button button-positive  icon-left ion-android-add-circle">Save</button>
    </ion-content>
</ion-view>