<ion-view title="Medicine Master" id="page4">
        <ion-content padding="true" class="has-header" ng-controller="medicineMasterCtrl">
        <div>
            <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search..." ng-model="SearchCriteria">
            </label>
            <label class="item item-input" name="MedicineName">
                <span class="input-label">Medicine Name</span>
                <input type="text" placeholder="" ng-model="New.MedicineName">
            </label>
            <label class="item item-input" name="GenericName">
                <span class="input-label">Generic Name</span>
                <input type="text" placeholder="" ng-model="New.GenericName">
            </label>
        </form>
        <button id="medicineMaster-button6" style="text-align:justify;"
         class="button button-positive  icon-left ion-android-add-circle" ng-click="Post(New)">Save</button>
    </div>
    <div>
        <ion-scroll zooming="true" direction="y" style="height:500px;">
        <ion-list>
            <ion-item ng-repeat="medi in MedicineMasterCollection  | filter: SearchCriteria track by $index" class="item-thumbnail-left">
              <div ui-sref="menu.MedicineMasterEdit({Id:medi.Id})">
            <h2>
            <i class="icon ion-person-add placeholder-icon"></i>
            {{medi.Id}}
            {{medi.MedicineName}}
            </h2>
            <p>
            {{medi.GenericName}}
            </p>
              </div>
              <div>
            <p style="text-align: end;">
            <button class="button-clear ion-android-delete" ng-click="Delete(medi)"></button>
             </p>
              </div>
            </ion-item>
        </ion-list>
        </ion-scroll>
    </div>
    </ion-content>
</ion-view>
